<!DOCTYPE html>
<html>

<head>
    <title>My First Webpage</title>
    <style>
        body {
            text-align: center;
        }
        button {
            background-color: blue;
            color: white;
        }

    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <form method="POST">
        <textarea name = "email-content"placeholder="Enter Your Email Body" rows="15" cols="35">{{ text }}</textarea>
        <div>
        <button>Check Spam</button>
        <a href="/">Reset</a>
        </div>
    </form>
    <h2>{{ text }}</h2>
</body>

</html>